header {
  color: black;               /* Cambiar el color del texto a negro */
  display: flex;              /* Activa Flexbox */
  justify-content: center;    /* Centra el contenido horizontalmente */
  align-items: flex-start;    /* Alinea el contenido en la parte superior */
  padding: 20px;              /* Espaciado interno para darle más espacio */
  text-align: center;         /* Centra el texto */

  font-size: 1.5em;           /* Tamaño de fuente más grande */
}
